<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- CLICK ON BUTTON TO VIEW ALL TASKS -->
  <h1>RESTFUL TASKS API</h1>
  <hr>
  <h2>ALL TASKS:</h2>
    <div *ngFor="let task of tasks">
      <h3><li>{{task.title}} - {{task.description}} - {{task._id}}</li></h3>
      <a (click)="deleteThis(task._id)">DELETE</a>-OR-<a (click)="editOpen(task._id)">SHOW EDIT FORM</a>
      <br>
    </div>
  <br><br>
</div>
<hr>
<div>
  <h2>CREATE A NEW TASK:</h2>
  <form (submit)="createTask()">
    <p> {{ newTask | json }} </p>
    <label>Title: </label>
    <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
    <label>Description: </label>
    <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
    <button type="submit">CREATE TASK!</button>
  </form>
  <br><br>
</div>
<hr>
<div *ngIf="banana == true">
  <!-- NEEDS WORK! -->
  <h2>EDIT TASK:</h2>
  <form (submit)="editThis(task._id)" *ngIf="this.task">
    <p> {{ edTask | json }} </p>
    <label>Title: </label>
    <input type="text" name="edTask.title" [(ngModel)]="edTask.title" value="{{ task.title }}" />
    <label>Description: </label>
    <input type="text" name="edTask.description" [(ngModel)]="edTask.description" value="{{ task.description }}" />
    <button type="submit">EDIT TASK!</button>
  </form>
  <br><br>
</div>