<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SURVEY RESULTS</title>
</head>
<body>
    <h2>Submitted Information:</h2>
    <h3>Name: <%= result.name %></h3>
    <h3>Dojo Location: <%= result.location %></h3>
    <h3>Fave Language: <%= result.language %></h3>
    <h3>Comment: <%= result.comment %></h3>
</body>
</html>