/* You can add global styles to this file, and also import other style files */
button {
    background-color: pink;
    margin: 5px;
}
table.table.table-striped td {
    text-align:center; 
    vertical-align:middle;
}
table.table.table-striped th {
    text-align:center; 
    vertical-align:middle;
}