<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CARS FORM</title>
</head>
<body>
    <h1>Car Information:</h1>
    <form action="">
        <label>Car Make: </label>
        <input type="text">
        <label>Car Model: </label>
        <input type="text">
        <label>Car Year: </label>
        <input type="text">
        <label>Car Price: </label>
        <input type="text">
        <button>SUBMIT</button>
    </form>
</body>
</html>