<hr>
<h2>ADD S NEW PRODUCT</h2>
<form #productForm="ngModel" (submit)="createProduct()">
  <input 
  type="text"
  name="title"
  class="form-control"
  placeholder="PRODUCT TITLE"
  required
  minlength="3"
  maxlength="50"
  [(ngModel)]="newProduct.title"
  #title="ngModel"
  />
  <input 
  type="number"
  name="price"
  class="form-control"
  placeholder="PRODUCT PRICE"
  required
  min="1"
  [(ngModel)]="newProduct.price"
  #price="ngModel"
  />
  <input 
  type="text"
  name="url"
  class="form-control"
  placeholder="PRODUCT URL"
  required
  minlength="3"
  [(ngModel)]="newProduct.url"
  #url="ngModel"
  />
  <button [disabled]="!userForm.valid" type="submit" class="form-control">SUBMIT</button>
</form>