<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>CODING DOJO SHINTO COINS</h1>
  <button [routerLink]="['home']">HOME</button>
  <button [routerLink]="['mine']">MINE COINS</button>
  <button [routerLink]="['buy']">BUY COINS</button>
  <button [routerLink]="['sell']">SELL COINS</button>
  <button [routerLink]="['browse']">BROWSE LEDGER</button>
</div>
<br>
<div style="text-align:center" id="shintoview">
  <router-outlet></router-outlet>
</div>