<!-- FORM BINDING AND FRONT END VALIDATIONS -->
<form #userForm="ngForm" (submit)="onSubmit()">
    <input
    type="text"
    name="username"
    required
    minlength="8"
    maxlength="15"
    [(ngModel)]="newUser.username"
    #username="ngModel"
    />
    <input
    type="password"
    name="password"
    required
    minlength="8"
    maxlength="15"
    [(ngModel)]="newUser.password"
    #username="ngModel"
    />
    <input
    type="password"
    [(ngModel)]="pwConfirm"
    #confirm="ngModel"
    />
    <button [disabled]="!userForm.valid">SUBMIT</button>
</form>

<!-- DISPLAYING USER-FRIENDLY ERRORS -->
<div *ngIf="!username.valid">
    <p *ngIf="username.errors.required">Username is required.</p>
    <p *ngIf="username.errors.minlength">Username must be at least 8 characters.</p>
    <p *ngIf="pwConfirm != newUser.password">Passwords do not match.</p>
</div>