<hr>
<h2>QUOTES BY AUTHOR</h2>
<h3>Quotes by {{ author }}:</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>QUOTE</th>
      <th>VOTES</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody *ngFor="let quote of quotes">
    <tr *ngFor="let q of quote.quotes">
      <td>"{{ q.quote }}"</td>
      <td>{{ q.votes }}</td>
      <td>
          <button (click)='voteUp(quote._id, q._id)' class="btn alert-success">VOTE UP</button>
          <button (click)='voteDown(quote._id, q._id)' class="btn alert-warning">VOTE DOWN</button>        
          <button (click)='deleteQuote(quote._id, q._id)' class="btn alert-danger">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="this.error" class="error">
  <h4>ERRORS:</h4>
  <ul>
    <li>{{ error }}</li>
  </ul>
</div>